@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --gryzzl-primary-beige: hsl(0, 10%, 66%);
  --gryzzl-primary-dove: hsl(242, 19%, 63%);
  --gryzzl-primary-mint: hsl(135, 100%, 90%);
  --gryzzl-primary-cream: hsl(0, 12%, 93%);
  --gryzzl-primary-cream-alt: hsl(0, 10%, 86%);
  --gryzzl-primary-milk-choc: hsl(0, 5%, 33%);
  --gryzzl-primary-dk-choc: hsl(0, 6%, 17%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--gryzzl-primary-mint);
  font-size: 1rem;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
}

h1 {
  font-size: 6rem;
  color: var(--gryzzl-primary-beige);
}

h2 {
  font-size: 4.5rem;
  color: var(--gryzzl-primary-dove);
}

h3 {
  font-size: 3rem;
  color: var(--gryzzl-primary-milk-choc);
}

h4 {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--gryzzl-primary-dk-choc);
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: var(--gryzzl-primary-dk-choc);
  font-weight: 600;
  position: relative;

  &:hover {
    color: var(--gryzzl-primary-dove);
    transition: 500ms ease;
  }
}

button {
  background-color: var(--gryzzl-primary-beige);
  color: var(--gryzzl-primary-dk-choc);
  padding: 12px 24px;
  font-weight: 700;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: 500ms ease;

  &:hover {
    background-color: var(--gryzzl-primary-dove);
    color: var(--gryzzl-primary-mint);
  }
}

.single-page {
  margin-top: 48px;
  padding: 24px;
}
