:root {
  --gryzzl-royal: hsl(215, 44%, 36%);
  --gryzzl-sky: hsl(219, 98%, 79%);
  --gryzzl-berry: hsl(335, 83%, 56%);
  --gryzzl-camel: hsl(48, 17%, 53%);
  --gryzzl-orchid: hsl(298, 68%, 69%);
  --gryzzl-deep-orchid: hsl(301, 51%, 44%);
}
